
h1{
    width: 100%;
}

#carouselExampleIndicators{
    height: 72vh;
}
.carousel-inner{
    height:100%;

}
.carousel-item{
    height: 100% ;
}
.text {
    display: inline-block;
    position: relative;
}
.text.carousel-item active {
    background: rgba(0, 0, 0, 0.8);
    z-index: 1;
    position: absolute;
    text-align: center;
    font-family: Georgia;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 30%;
    color: white;
    width: 70%;
}